{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola que tal amigos :D</h1>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia nesciunt, soluta dignissimos minus cupiditate alias quae voluptatum molestiae eaque ex vel quasi est eos laudantium, in magni perferendis porro, fugiat ea maiores itaque aperiam saepe eligendi! Est ipsum illo eligendi id fugiat a et omnis fugit unde numquam minus qui, veritatis enim laudantium soluta, beatae quisquam illum harum vitae. Voluptatem molestias perferendis ad nemo illum perspiciatis harum repellat id.</h6>
</body>
</html>